@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



h6{
    color:  hsl(254, 88%, 90%)
 hsl(256, 67%, 59%)

 hsl(31, 66%, 93%)
 hsl(39, 100%, 71%)

 hsl(0, 0%, 100%)
 hsl(0, 0%, 7%)
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



  body{
    background-color:  #f2f2f2;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;

  }

  .container{
    display: grid;
    place-content: center;
    height: 100vh;
    grid-template-columns: 15% 15% 20% 15%;
    grid-template-rows: 30% 27% 30% ;
    gap: 1.3rem;
    grid-template-areas:"bento_1 bento_2 bento_2 bento_3" 
                       "bento_4 bento_5 bento_6 bento_3"
                       "bento_4 bento_7 bento_8 bento_8";
                    
  }

  .bento_1{
   grid-area: bento_1;
   background-color:  hsl(31, 66%, 93%)
   
  }

  .bento_1 h3{
    color: hsl(0, 0%, 7%);
    text-align: left;
    font-size: 2.2rem;
    line-height: 30px;
    margin: 20px;
    font-weight: 500;
    
    
  }

  .bento_1 img{
    margin: 0 auto;
    width:200px;
    
  }

  .bento_1 span{
    color: hsl(256, 67%, 59%);
  }


  





  .bento_2{
    grid-area: bento_2;
    background: hsl(256, 67%, 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    
    
    
  }

  .bento_2 img{
    height: 10%;

  }

  .bento_2 h2{
    font-size: 3.7rem;
    line-height: 45px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    line-height: 50px;
  }

  .bento_2 p {
    color: hsl(31, 66%, 93%);
  }
  span{
    color:  hsl(39, 100%, 71%)
  }




  .bento_3{
    grid-area: bento_3;
    background-color: hsl(254, 88%, 90%);
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  

  .bento_3 img{
    margin-left: 20px;
    
    
  }
  .bento_3 h6{
    margin-left: 20px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 1.8rem; 
    line-height: 25px;
  }

  .bento_3 p{
    margin-left: 20px;
    margin-top: 15px;
    line-height: 20px;
    
  }









  .bento_4{
    grid-area: bento_4;
    background-color:  hsl(39, 100%, 71%);
    
    
  }

  .bento_4 h3{
    color: hsl(0, 0%, 7%);
    text-align: left;
    font-size: 2.2rem;
    line-height: 30px;
    margin: 20px;
    font-weight: 500;
  }
 

  .bento_4 img{
    width: 90%;
    margin: 0 auto;
  }



  .bento_5{
    grid-area: bento_5;
    background-color:  hsl(0, 0%, 100%);
    overflow: hidden;
  }

  .bento_5 img{
    margin-top: 15px;
    margin-left: 20px;
  }

  .bento_5 h4{
    text-align: left;
    margin-left: 20px;
    font-size:  1.7rem;
    line-height: 25px;
    margin-top: 10px;
    width: 70%;
    font-weight: 500;
  }



  .bento_6{
    grid-area: bento_6;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
    text-align: left;
  }

.bento_6 img{
    width:80%;
    margin: 0 auto;
    margin-top: -15px;
    
}

  .bento_6 h6{

font-size: 1.7rem;
margin: 25px;
line-height: 28px;
font-weight: 500;
width: 40%;

  }





  .bento_7{
    grid-area: bento_7;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: left;

    
  }

  .bento_7 h3 {
    font-size: 3rem;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 500;
  }
  .bento_7 p{
    margin-top: -10px;
    margin-left: 30px;
  }


  .bento_7 img {
    width: 65%;
    margin: 0 auto;
    margin-top: 15px;
    
  }



  .bento_8{
    grid-area: bento_8;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
   
    
  }

  .bento_8 img{
    width: 40%;
    margin-left: 20px;
  }
  .bento_8 h6{
    font-size: 2.4rem;
    text-align: left;
    color: hsl(0, 0%, 100%);
    line-height: 32px;
    font-weight: 500;
  }


  .bento_1,.bento_2,.bento_3,.bento_4,.bento_5,.bento_6,
  .bento_7,.bento_8{
    border-radius: 10px;
  }



@media(max-width:1360px){
    
    
    .container{
       
         height: auto;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 25% 25% 25 25% ;
        gap: 1rem;
        grid-template-areas:"bento_1 bento_2" 
                           "bento_3 bento_4 "
                           "bento_5 bento_6"
                           "bento_7 bento_8" ;  
                            margin: 25px;
                            margin-top: 70px;

    }
    .bento_4{
overflow: hidden;
    }
}

@media(max-width:600px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 20px;
        gap: 1.5rem;
    }

    .bento_1{
        order: 7;
        
        
    }

    .bento_2{
        order: 0;
        padding: 20px;
        
    }
    .bento_2 img{
       width: 60%;
    }

    .bento_2 h2{
        font-weight: 500;
    }

    .bento_3{
        order: 4;
        text-align: center;
        

    }
    .bento_3 h6{
        font-size: 1.5rem;
    }

    .bento_3 img {
        width: 90%;
        margin: 0 auto;
    }
    .bento_4{
        order:8

    }
    .bento_5{
        order:3


    }
    .bento_5 h4{
      
    }
    .bento_6{
      order: 3;
    }
    .bento_7{
     order: 6;
     padding: 20px;
     text-align: left;
    }
    .bento_7 img {
        margin-left: 0;
    }
    .bento_8{
     order: 5;
     padding: 50px;
     display: flex;
     flex-direction: column;
    }

    .bento_8 img{
        width: 100%;
    }
    .bento_8 h6{
        font-size: 1.5rem;
    }
}